{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mystatic/styles.css' %}?v=7">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Sign In</title>
</head>
<body>
    <div class="full">
        <div class="header">
            <div>
                <img class="logo1" src="{% static 'images/banklogo.png' %}" alt="image">
            </div>
            <div class="headname">
                <h2 style="color: darkred;">Lion Bank of India</h2>
            </div>
        </div>
        <div class="circle-box">
            <h1><i class="fa fa-user"></i></h1>
            <div>
                <button><a href="{% url 'empregisterv' %}" style="text-decoration: none;color: brown;font-size: larger;">Employee</a></button>
                <button><a href="{% url 'newCustomerv' %}" style="text-decoration: none;color: brown;font-size: larger;">Customer</a></button>
            </div>
        </div>
    </div>
</body>
</html>